{% extends 'base.html' %}
{% block content %}
<h1>Edit Expense</h1>
<div class="form">
    <form method="POST" >
        {{ form.title.label }}
        {{ form.title }}
        {{ form.description.label }}
        {{ form.description }}
        <label for="{{ form.image_url.id_for_html }}">Link to image</label>
        {{ form.image_url }}
        {{ form.price.label }}
        {{ form.price }}

        {% csrf_token %}

        <input type="submit" value="Edit">
    </form>
</div>
{% endblock %}
